.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  top: 5.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;

  &__link {
    color: #fff;
    margin-bottom: 1rem;
    transition: color 0.2s;

    &:hover {
      color: $color-primary;
      transition: color 0.2s;
    }
  }
}
